################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/BIVT-25-Lab-4/v17
/Lab4/.vs/Lab4
